<nav class="navbar navbar-expand-sm bg-light">
  <ul class="navbar-nav">
    <li class="nav-item"> <a class="nav-link" href="/board/1">첫 번째 게시판</a> </li>
    <li class="nav-item"> <a class="nav-link" href="#">두 번째 게시판</a> </li>
    <li class="nav-item"> <a class="nav-link" href="#">세 번째 게시판</a> </li>
  </ul>
</nav>
