<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
</head>


<body>
  <%- include('../partials/nav') %>
  <button type="button" class="btn btn-outline-info">Test</button>

</body>
