<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
</head>
<body class="bg-secondary">
  <%- include('../partials/nav') %>
    <div class="container bg-light">
  	   <div class="float-start">
  		     <img src="/profile" class="rounded-circle img-fluid">
  	      </div>
    	<div class="float-start">
    		<h3 class="mb-1">&nbsp;&nbsp;Dev.Kibum</h3>
    		<small>
      		<b>&nbsp;&nbsp; Address</b> : Busan, South Korea<br>
      		<b>&nbsp;&nbsp; Contact</b> : jin_jifan@naver.com<br>
      		<b>&nbsp;&nbsp; Site</b> : https://github.com/devKibum
        </small>
    	</div>
    	<div class="list-group col-20 container">
    		<br>
        <div href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      		<h4 class="mb-1">Skills</h4>
      		<small>
        		<b>-. Programming Languages</b> : C/C++, C#, JavaScript, MySQL<br>
        		<b>-. Open Sources</b> : Node.js, Bootstrap<br>
            <b>-. Frameworks</b> : Unity3D, Visual Studio, gcc, git, Node.js
          </small>
        </div>
        <div href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      		<h4 class="mb-1">Projects</h4>
      		<small>
            -. <b>Tetris</b>(C++)<br>
            -. <b>Q&A Website</b>(HTML(Bootstrap)/MySQL/Javascript)
          </small>
        </div>
        <div href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      		<h4 class="mb-1">Languages</h4>
      		<small>
        		<b>-. Korean</b> : Native<br>
        		<b>-. English</b> : Business Level, TOEIC 123, TOEIC Speaking Level 1
          </small>
        </div>
    		<div href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      		<h4 class="mb-1">Education</h4>
      		<small>
        		-. <b>Computer Engineering</b>, Pukyoung National University(Busan, South Korea), Jan 2022<br>
        		-. Gimhae Construction Technical High School(Gimhae, South Korea), Jan 2011
          </small>
        </div>
        <div href="#" class="list-group-item list-group-item-action flex-column align-items-start">
      		<h4 class="mb-1">Extracurricular Activities</h4>
      		<small>
        		<b>-. Computer Club(People and Smart frame)</b> : Mar 2014 to Jan 2019<br>
        		<b>-. Military Service</b> : Oct 2015 to Oct 2017
          </small>
        </div>
    	</div>
      <br><br><br><br><br><br><br><br><br>
  </div>
</body>
