<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
</head>


<body class="bg-secondary">
  <%- include('../partials/nav') %>
  <div class="container bg-light">
    <br><h2 class="text-secondary">글쓰기</h2>
    <form action="/new" method="post">
      <label for="title">제목</label>
      <div class="col-15"><input class="form-control" type="text" id="title" name="title" placeholder="제목을 입력해주세요">
      <br>
      <textarea class="form-control" id="body" name="body" placeholder="내용을 입력해주세요" rows=20></textarea>
      <br>
      <button class="btn btn-danger" style="float:right;" onclick="location.href='/home';">취소</button>
      <button type="submit" class="btn btn-primary" style="float:right;">저장</button></div>
      <br><br>

    </form>
  </div>
</body>
